{% extends "payroll/base.html" %}
{% block content %}
{% load mathfilters %}

    <article class="media content-section">
        <div class="media-body">
        
          <div class="article-metadata">
            <a class="mr-2" href="#">    </a>
            <!--<small class="text-muted">{{ post.date_posted }}</small>-->
          </div>
          <h2><a class="article-title" href="#">    </a></h2>
          <p>    </p>
          <p>    </p>
          <p>    </p>
          <h6><a class="article-title">  </a></h6>
          <p>    </p>
          <p>    </p>

        </div>
      </article>


      

{% endblock content %}